Question1: wirte a program to accept percentage from the user and display the grade according to the following

In [3]:
marks = int(input("enter your marks:"))

if marks >90:
    print('A')
elif marks >80 and marks<=90:
    print('B')
elif marks >=60 and marks<=80:
    print('c')
else:
    print('D')

enter your marks: 87

B

Question2: write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria

In [9]:
cost_price = int(input("enter your tax(%): "))

if cost_price > 100000:
    print(15)
elif cost_price>50000 and cost_price<=100000:
    print(10)
elif cost_price<=50000:
    print(5)

enter your tax(%):  70000

10

Question3: Acccept any city from the user and display monuments of that city

In [15]:
#Delhi == Redfort
#Agra == Taj_Mahal
#Jaipur == Jal_Mahal

cityname = input("enter cityname: ")

if cityname == "Delhi":
    print("redfort")
elif cityname == "Agra":
    print("Taj mahal")
elif cityname == "Jaipur":
    print("Jal mahal")

enter cityname:  Delhi

redfort

Question4: Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [18]:
count=0
number=210
while number > 10:
    number = number/3
    count = count + 1
print("given number can be divided upto: ", count)

given number can be divided upto:  3

Question5: Check how many times a given number can be divided by 3 before it is less than or equal to 10Question5: why and when to use while loop in python give a detailed description aith example

In [2]:
#Answer= while loop is use when certain condition is not mention,automate process,indefinte iteration and while the answer is not reached 

a = 1

while a <= 10:
    print(a)
    
    a = a + 1

1
2
3
4
5
6
7
8
9
10

Question6: use nested while loop to print 3 different pattern

In [5]:
a = 5
b = 1

while b<=a:
    c = 1
    while c<=b:
        print((b*2-1),end='')
        c = c + 1
        
    b = b + 1
    
    print('')

1
33
555
7777
99999

Question7: Reverse a while to display number from 10 to 1

In [1]:
a = 10

while a>=1:
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1